* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gorgia;
}
/* ----------------------general-----------------------*/
.color-nav {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    padding: 10px;
}

.fs-7 {
    font-size: small;
}

.text-shadow-green {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.text-shadow-cyan {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.color-cyan {
    color: #1F3777;
}

.color-green {
    color: #30AF5E;
}

.color-white {
    color: #fff;
}

/* -----------------------------header---------------------------- */
.user-nav {
    width: auto;
    min-height: auto;
    background-color: #1F3777;
    border-radius: 45px;
    padding: 12px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .8);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.mySlides {
    display: none;
}

.slide-nav {
    vertical-align: middle;
    height: 91vh;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    z-index: 0;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: .7
    }
}

.dropfilter {
    height: 91vh;
    width: 100%;
    backdrop-filter: blur(2px);
}

.logo-nav {
    width: 20vw;
    margin-top: 40px;
}

/* ---------------------------------body-------------------------- */
.card_service {
    background-color: #1F3777;
    color: #30AF5E;
    border-radius: 30px;
    padding-bottom: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.7);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.circle {
    background-color: #30AF5E;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.75);
}

.info {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 576px) {
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .circle {
        margin-top: 60px;
    }
}

/* -------------------------------footer---------------------------- */
.footer {
    background-color: #30AF5E;
    padding-bottom: 110px;
    padding-top: 40px;
    padding-right: 30px;
    padding-right: 30px;
    margin-top: 100px;
    border-radius: 40px 40px 0 0;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
}
