@import './variables.css';

.footer {
    width: 100%;
    height: var(--larger);
    background-color: var(--darkGray);
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section {
    color: var(--lightBlue);
    font-family: var(--font1);
    font-size: var(--smaller);
    padding-top: var(--smaller);
    padding-bottom: var(--smaller);
    padding-right: 4vw;
    padding-left: 4vw;
    text-wrap: nowrap;
    text-align: center;
}

.footer-section:hover {
    background-color: var(--dark);
}