/* ------------general------------- */
.rounded-4{border-radius: 3rem;}
.rs-4{border-radius: 2rem 0 0 2rem;}
.mb-6{margin-bottom: 6rem;}
.bg-green{background-color: #30AF5E;}
.fs-7 {font-size: small;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    min-height: 23rem;
}

@media (max-width: 767.98px) {
    .mobile-menu{
        position: fixed;
        bottom: 0;
        left: 4.222222215%;
        width: 91.66666667%;
        border-radius: 3rem 3rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
.shadow-menu{box-shadow: inset 4px 4px 6px rgba(255, 255, 255, 0.5);}

/* --------------dropdown----------- */
.dropdown-custom {
    display: inline-block;
    position: relative;
  }

  .dropdown-button {
    background-color: #d3d3d3;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .dropdown-button:focus {
    outline: none;
  }

  .dropdown-custom:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 25px;
  }

  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    cursor: pointer;
    display: block;
    text-wrap: nowrap;
    font-size: 12px;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown-button .dropdown-icon {
    margin-right: 10px;
    color: #30AF5E;
  }

  /* ------------------table-projects----------------- */
th,tr,td{
    border: 1px solid #000;
}
table{
    margin: 15px auto;
    font-family: Georgia;
}
th{
    background-color: #d3d3d3;
    padding: 8px;
}
td{
    padding: 5px;
}

.remove{
    width: 28px;
    height: 28px;
    border-radius: 20px;
    background-color: red;
    color: #fff;
    border: none;
    margin: 2px;
}
.newProject{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.add{
    border-radius: 20px;
    height: fit-content;
    width: 35px;
    border: none;
    background-color: #30AF5E;
    color: #fff;
    font-size: 23px;
}
#inputServices{
    text-align: center;
    width: 50%;
    max-width: 250px;
}
#inputAddres{
    text-align: center;
    width: 40%;
    max-width: 150px;
}
/* -------------------maghalat------------------ */
.edit{
    border-radius: 20px;
    height: 28px;
    width: 28px;
    border: none;
    background-color: #1F3777;
    color: #fff;
    font-size: 16px;
    transform: rotate(135deg);
}
.newArticle{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
#inputObject{
    text-align: center;
    width: 60%;
    max-width: 350px;
    border: 2px solid #000000a9;
    border-radius: 20px;
    height: 33px;
}
/* -----------------tinymce--------------------- */
#titr{
    width:80%;
    height: 40px;
    border-radius: 10px;
    border-color: blueviolet;
    margin-left: 0 auto;
    margin-top: 20px;
    text-align: center;
    color: #140e0ee7;
    font-size: large;
    font-family: Georgia;
}
.container-editor{
    margin: 0 auto;
    width: 80%;
    height: 600px;
    margin-top: 10px;
}
.click-change{
    width: 90px;
    height: 30px;
    background-color: #30AF5E;
    margin: 10px auto;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 4px #000000bd;
}

/* -----------------------picture------------ */
#newpic{
    display: none;
}
.oldpic{
    width: 144px;
    border: 2px solid #000;
}

/* ---------------employers-------------- */
.adduser{
    display: flex;
    justify-content: center;
    gap: .2rem;
}
.newEmployer{
    outline: none;
    border: 1px solid #00000085;
    text-align: center;
    border-radius: 8px;
    width: 20%;
    min-width: 70px;
    font-size: .7rem;
}
.userTable{
    border: 10px solid #fff;
}
.userTable td{
    border: 10px solid #fff;
    background-color: #ccc5c5;
    font-size: .7rem;
}
#reports{
    cursor: pointer;
}
#clearUser{
    cursor: pointer;
}

/* ----------------------reports in Cpanel------------------ */
#showReport{
    cursor: pointer;
}
#clearReport{
    cursor: pointer;
}
#level{
    width: 4rem;
    background-color: #fff;
    border: 1px solid #30AF5E;
    color: #1F3777;
    border-radius: 20px;
    text-align: center;
    outline: none;
}