.container{
    width: 80%;
    height: 700px;
    border: 1px solid silver;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: #F8F9FA;
opacity: 1;
background: linear-gradient(135deg, #EFEFEF55 25%, transparent 25%) -4px 0/ 8px 8px, linear-gradient(225deg, #EFEFEF 25%, transparent 25%) -4px 0/ 8px 8px, linear-gradient(315deg, #EFEFEF55 25%, transparent 25%) 0px 0/ 8px 8px, linear-gradient(45deg, #EFEFEF 25%, #F8F9FA 25%) 0px 0/ 8px 8px;
}
.card{
    width: 90%;
    height: 30%;
    background: rgb(193, 252, 193);
    border-radius: 20px;
    
}